//
//  AppKey.xcconfig
//  Zatch
//
//  Created by 박지윤 on 2022/09/09.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Zatch/Pods-Zatch.debug.xcconfig"
#include "Pods/Target Support Files/Pods-Zatch/Pods-Zatch.release.xcconfig"

KAKAO_NATIVE_KEY = "636aa7f1b6a52dd8c64ef4de78b5f849"
KAKAO_REST_API_KEY = "de8b17f677631d70f9545c4b19608dcf"
KAKAO_ADMIN_KEY = "c30afed1177a57dd2df77f0bc3585b73"
